.footer {
    color: white;
    background-color: black;
}

.news-content hr {
    height: 2px;
    border: none;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.news-content h1 {
    margin-left: 20px;
}

.news-content .section-news li {
    padding: 10px;
}

.news-content .section-news li:hover a {
    color: white;
}

.news-content .section-hot li:hover {
    background-color: darkolivegreen;
}

.news-content .section-realty li:hover {
    background-color: cadetblue;
}

.news-content .section-news .footer {
    background-color: white;
}

.news-content .section-hot .footer {
    color: darkolivegreen;
}

.news-content .section-realty .footer {
    color: cadetblue;
}

.news-content .section-news h2 {
    color: white;
    padding: 10px;
}

.news-content .section-hot h2 {
    background-color: darkolivegreen;
}

.news-content .section-realty h2 {
    background-color: cadetblue;
}